.home{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &-top-area{
    margin-top: $containerBasePaddingTop;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 420px;
    &-image{
      &.earphone{
        position: absolute;
        background: url('~@/assets/img/耳機.svg') center center /contain no-repeat;
        width: 428px;
        height: 420px;
        left: 0;
        top: 0;
        opacity: 0;
      }
      &.title{
        margin-top: 50px;
        position: absolute;
        top: 0;
        left: 50%;
        width: 880px;
        height: 340px;
        transform: translateX(-50%);
        text-align: center;
        >.title-1{
          background: url('~@/assets/img/title-1.svg') center center /contain no-repeat;
          width: 880px;
          height: 190px;
        }
        >.title-2{
          text-align: left;
          width: 675px;
          margin: 50px auto 0 auto;
          >.title-2-1{
            background: url('~@/assets/img/title-2-1.svg') center center /contain no-repeat;
            display: inline-block;
            width: 6px;
            height: 80px;
            margin-right: 25px;
          }
          >.title-2-2{
            background: url('~@/assets/img/title-2-2.svg') center center /contain no-repeat;
            display: inline-block;               
            width: 642px;
            height: 80px;
          }
        }

      }
      &.game{
        position: absolute;
        top: 0;
        right: 0;
        background: url('~@/assets/img/遊戲稈.svg') center center /contain no-repeat;
        width: 250px;
        height: 405px;
        opacity: 0;
        transform: rotate(15deg);
      }
    }
  }
  &-bottom-area{
    position: relative;
    flex: 1;
    >.background-area{
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('~@/assets/img/線條背景.svg') center center /contain no-repeat;
    }
    >.button-area{
      position: absolute;
      width: 100%;
      z-index: 5;
      margin-top: 35px;
      text-align: center;
      >.button-area-item{
        width: 500px;
        height: 85px;
        &:first-of-type{
          background: url('~@/assets/img/UI.svg') center center /contain no-repeat;
          margin-right: 50px;
          transform: translateX(-1000px);
        }
        &:last-of-type{
          background: url('~@/assets/img/F2E.svg') center center /contain no-repeat;
          transform: translateX(1000px);
        }
      }
    }
    >.number-area{
      background: url('~@/assets/img/數字區-匡-空心.svg') center center /contain no-repeat;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 170px;
      transform: translateX(-50%);
      width: 995px;
      height: 280px;
      font-family: 'Silkscreen', cursive;
      color: #FFF;
      z-index: 5;
      opacity: 0;
      .number-area-item{
        text-align: center;
        font-family: 'Silkscreen', sans-serif;
        &-label{
          font-size: 28px;
        }
        &-value{
          margin-top: 20px;
          font-size: 42px;
        }
        >.number-animate{
          display: flex;
          overflow: hidden;
          justify-content: center;
          position: relative;
          width: 100%;
          height: 42px;
          .number-animate-warp{
            height: max-content;
          }
        }
      }
    }
    >.sun-area{
      z-index: 1;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      background: url('~@/assets/img/sun.png') center center /contain no-repeat;
      width: 460px;
      height: 460px;
    }
  }
  &-next-page{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    opacity: 0;
    &-text{
      letter-spacing: 30px;
      font-weight: bold;
      line-height: 1.5;
      
    }
  }
}